<!DOCTYPE html>

<html>
    <head>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
    </head>

    <body>

        <header>
                <div class = "title"> {{page.title}} </div>
		<nav>
	      	<ul class="menu">
		      	<li class="menu-item">
                           <i class="fas fa-address-card"></i>   <a href="{{site.baseurl}}/">About</a></li>
		      	<li class="menu-item">
                           <i class="fas fa-copy"></i>   <a href="{{site.baseurl}}/publications">Publications</a></li>
		       	<li class="menu-item">
                           <i class="fas fa-code"></i>     <a href="{{site.baseurl}}/software">Software</a></li>
         	</ul>
	       	</nav>
        </header>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2018</time> {{ site.author }}</p>
        </footer>

        <script src="{{site.baseurl}}/scripts/script.js"></script>
    </body>

</html>
